
@{
    ViewBag.Title = "Committee";
}

<div class="my-container">

    <div id="turkish" style="margin-top:20px; text-align:justify">
        <div class="row">
            <div class="col-lg-6">
                @foreach (var item in ViewBag.honorary)
                {
                    <h5>@item.TitleTR</h5>
                    @*<div class="bBorder"></div><br />*@
                    <p>@item.DescriptionTR</p>
                }

            </div>
            <div class="col-lg-6">
                @foreach (var item in ViewBag.secretariat)
                {
                    <h5>@item.TitleTR</h5>
                    @*<div class="bBorder"></div><br />*@
                    <p>@item.DescriptionTR</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @foreach (var item in ViewBag.scientific)
                {
                    <h5>@item.TitleTR</h5>
                    @*<div class="bBorder"></div><br />*@
                    <p>@item.DescriptionTR</p>
                }

            </div>
            <div class="col-lg-6">
                @foreach (var item in ViewBag.organising)
                {
                    <h5>@item.TitleTR</h5>
                    @*<div class="bBorder"></div><br />*@
                    <p>@item.DescriptionTR</p>
                }
            </div>
        </div>

    </div>
    <div id="arabic" dir="rtl" lang="ar" style="        margin-top: 20px;
        text-align: right;">
        <div class="row">
            <div class="col-lg-6">
                @foreach (var item in ViewBag.honorary)
                {
                    <h5>@item.TitleAR</h5>
                    @*<div class="bBorder"></div><br />*@
                    <p>@item.DescriptionAR</p>
                }

            </div>
            <div class="col-lg-6">
                @foreach (var item in ViewBag.secretariat)
                {
                    <h5>@item.TitleAR</h5>
                    @*<div class="bBorder"></div><br />*@
                    <p>@item.DescriptionAR</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @foreach (var item in ViewBag.scientific)
                {
                    <h5>@item.TitleAR</h5>
                    @*<div class="bBorder"></div><br />*@
                    <p>@item.DescriptionAR</p>
                }

            </div>
            <div class="col-lg-6">
                @foreach (var item in ViewBag.organising)
                {
                    <h5>@item.TitleAR</h5>
                    @*<div class="bBorder"></div><br />*@
                    <p>@item.DescriptionAR</p>
                }
            </div>
        </div>
    </div>
<div id="english" style="margin-top:20px; text-align:justify">
    <div class="row">
        <div class="col-lg-6">
            @foreach (var item in ViewBag.honorary)
            {
                <h5>@item.TitleEN</h5>
                @*<div class="bBorder"></div><br />*@
                <p>@item.DescriptionEN</p>
            }

        </div>
        <div class="col-lg-6">
            @foreach (var item in ViewBag.secretariat)
            {
                <h5>@item.TitleEN</h5>
                @*<div class="bBorder"></div><br />*@
                <p>@item.DescriptionEN</p>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            @foreach (var item in ViewBag.scientific)
            {
                <h5>@item.TitleEN</h5>
                @*<div class="bBorder"></div><br />*@
                <p>@item.DescriptionEN</p>
            }

        </div>
        <div class="col-lg-6">
            @foreach (var item in ViewBag.organising)
            {
                <h5>@item.TitleEN</h5>
                @*<div class="bBorder"></div><br />*@
                <p>@item.DescriptionEN</p>
            }
        </div>
    </div>

</div>


</div>
<br />
<br />
<br />

