@model IEnumerable<Entities.Concrete.Invitation>
@{
    ViewBag.Title = "Invitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-container">

    <div id="turkish" style="margin-top:20px; text-align:justify">
        @foreach (var item in Model)
        {
            <h3>@item.TitleTR</h3>
            <div class="bBorder"></div><br />
            <p>@item.DescriptionTR</p>
        }

    </div>
    <div id="arabic" dir="rtl" lang="ar" style="        margin-top: 20px;
        text-align: right;">

        @foreach (var item in Model)
        {
            <h3>@item.TitleAR</h3>
            <div class="bBorder"></div><br />
            <p>@item.DescriptionAR</p>

        }
    </div>
    <div id="english" style="margin-top:20px; text-align:justify">
        @foreach (var item in Model)
        {
            <h3>@item.TitleEN</h3>
            <div class="bBorder"></div><br />
            <p>@item.DescriptionEN</p>

        }
    </div>


</div>
<br />
<br />

